annotated-types==0.8.0
asgiref==3.5.2
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cryptography==50.0.2
cssselect2==0.10.1
distlib==0.3.5
Django==4.1.4
django-ckeditor==6.5.1
django-cors-headers==4.3.0
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-renderpdf==6.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
dotenv==0.9.9
filelock==3.7.1
fonttools==4.66.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.201.0
google-auth==2.60.0
google-auth-httplib2==0.4.4
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
grpcio==1.84.0
grpcio-status==1.71.2
httplib2==0.32.0
idna==3.20
numpy==2.5.2
Owlready2==0.38
packaging==26.3
pillow==12.3.0
platformdirs==2.5.2
proto-plus==1.28.2
protobuf==5.29.6
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pydyf==0.12.1
PyJWT==2.13.0
pyparsing==3.3.3
pyphen==0.18.1
python-dotenv==1.2.4
pytz==2026.3.post1
requests==2.34.2
setuptools==81.0.0
sqlparse==0.4.2
tinycss2==1.5.1
tinyhtml5==2.1.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.8.0
virtualenv==20.16.2
weasyprint==67.0
webencodings==0.6.1
wheel==0.48.0
zopfli==0.4.3
